/* COMBO BOX */

.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	border:1px solid #A4BED4;
	background:transparent;
}
.combo-text{
	_font-size:12px;
	_border:0px;
	_line-height:20px;
	_height:20px;
	_padding:0px;
	_height:18px;
	_line-height:18px;
}
.combo-arrow{
	background:#FFFFFF url('//hostedscripts.falkvinge.net/easyui/themes/default/images/combo_arrow.gif') no-repeat 3px 4px;
	width:18px;
	height:20px;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	position: relative;
	top: 6px;
	left: 2px;
	border-radius: 5px;
	cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.combo-arrow-hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}
.combo-panel{
	background: transparent;
	overflow:auto;
}


/* TREE */

.tree
{
	font-size: 14px;
	margin: 0px 0px 0px 5px;
	padding: 8px 2px;
	list-style-type: none;
	background: white;
	border-radius: 8px;
	box-shadow: 0px 1px 4px 1px #1C397E inset;
}

.tree-node-hover{
	background: #E4ECFF;
	box-shadow: 0px 0px 4px 1px #C8D9FF inset;
}