<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

  <project name="Activizr">
    <workingDirectory>C:\Lab\Activizr\build</workingDirectory>
    <artifactDirectory>C:\Lab\Activizr\artifact</artifactDirectory>
    <webURL>http://build.activizr.com/server/auxiliary/project/Activizr/ViewLatestBuildReport.aspx</webURL>

    <sourcecontrol type="svn">
      <trunkUrl>svn://svn/Activizr/trunk</trunkUrl>
      <workingDirectory>C:\Lab\Activizr\build</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <timeout>1800000</timeout>
    </sourcecontrol>

    <triggers>
      <intervalTrigger name="continuous" seconds="30" />
    </triggers>

    <labeller type="assemblyVersionLabeller">
      <major>5</major>
      <minor>0</minor>
      <incrementOnFailure>false</incrementOnFailure>
    </labeller>

    <tasks>
      <msbuild>
      <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>C:\Lab\Activizr\build</workingDirectory>
        <projectFile>Activizr.sln</projectFile>
        <buildArgs>/p:Configuration=Autobuild</buildArgs>
        <targets>Build</targets>
        <timeout>1200</timeout>
        <logger>C:\Program Files\CruiseControl.NET\server\Rodemeyer.MsBuildToCCnet.dll</logger>
      </msbuild>

      <!-- deploy: only on success of all steps above -->

      <exec>
        <executable>cmd.exe</executable>
	<buildArgs>/c echo %CCNetLabel% > C:\Lab\Activizr\build\Site5-Deployment\Release\BuildIdentity.txt</buildArgs>
      </exec>
      <!--<buildpublisher>
        <sourceDir>C:\Lab\Activizr\build\Site5-Deployment\Release</sourceDir>
        <publishDir>\\peregrine\pirate-activizr</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>-->
      <exec>
        <executable>xcopy.exe</executable>
	<buildArgs>/s /y C:\Lab\Activizr\build\Site5-Deployment\Release \\peregrine\dev-activizr-com</buildArgs>
      </exec>

      <!-- Analysis: QA that is not build-breaking: FxCop etc. -->

      <exec>
        <executable>C:\Program Files\Microsoft FxCop 1.36\FxCopCmd.exe</executable>
        <baseDirectory>C:\Lab\Activizr\build</baseDirectory>
        <buildArgs>/p:"Activizr.FxCop" /out:"FxCop-results.xml" /gac</buildArgs>
        <buildTimeoutSeconds>300</buildTimeoutSeconds>
      </exec>

    </tasks>

    <publishers>
      <merge>
        <files>
          <file>C:\Lab\Activizr\build\msbuild-output.xml</file>
          <file>C:\Lab\Activizr\build\FxCop-results.xml</file>
        </files>
      </merge>

      <xmllogger />

      <email mailport="25" includeDetails="TRUE">
        <from>builds@activizr.com</from>
        <mailhost>192.168.80.4</mailhost>
        <users>
          <user name="Rick Falkvinge" group="buildmaster" address="activizr-builds@falkvinge.net" />
          <!-- <user name="Jörgen Lindell" group="buildmaster" address="jorgen.lindell@gmail.com" /> -->
        </users>
        <groups>
          <group name="devs">
            <notifications>
              <notificationType>Failed</notificationType>
              <notificationType>Fixed</notificationType>
            </notifications>
          </group>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
        <subjectSettings>
          <subject buildResult="StillBroken" value="Build is STILL broken for Activizr" />
        </subjectSettings>
        <xslFiles>
          <file>xsl\header.xsl</file>
          <file>xsl\msbuild2ccnet.xsl</file>
          <file>xsl\unittests.xsl</file>
          <file>xsl\fxcop-summary_1_36.xsl</file>
          <file>xsl\modifications.xsl</file>
          <file>xsl\fxcop-report_1_36.xsl</file>
        </xslFiles>
      </email>

    </publishers>

  </project>
  
</cruisecontrol>
