
.placeholder
{
    border: 3px dashed #FFCAFF;
}
.placeholder1
{
    border: 3px dashed #FFCAFF;
}
.placeholder2
{
    background-color: #D9FFD9;
    color:Black;
}
.placeholderUnkn
{
    background-color: #FF7171;
    color: Black;
}
