[Unit]
Description=Swarmops Frontend
After=network.target

[Service]
User=root
ExecStart=/usr/bin/mono /usr/share/swarmops/frontend/bin/Swarmops.Frontend.Socket.exe
WorkingDirectory=/usr/share/swarmops/frontend
Restart=on-abort

[Install]
WantedBy=multi-user.target

