Package: swarmops-common-internal
Version: --BuildNumber--
Architecture: all
Maintainer: Rick Falkvinge (swarmops-maintain@falkvinge.net)
Depends: dialog (>= 1.1), --Dependencies--
Conflicts: swarmops-common,swarmops-common-stable
Homepage: http://swarmops.com/
Description: Swarmops Common (Internal)
 Swarmops is a swarm activist administration system.
 This package is an internal development build.

