Package: swarmops-common
Version: --BuildNumber--
Architecture: all
Maintainer: Rick Falkvinge (swarmops-maintain@falkvinge.net)
Depends: dialog (>= 1.1), --Dependencies--
Conflicts: swarmops-common-internal,swarmops-common-stable
Homepage: http://swarmops.com/
Description: Swarmops Common
 Swarmops is a swarm activist administration system.
 This package contains the common components between
 frontend and backend.
