Package: swarmops-common-internal
Version: --BuildNumber--
Architecture: all
Maintainer: Rick Falkvinge (swarmops-maintain@falkvinge.net)
Depends: 
Conflicts: swarmops-common
Homepage: http://swarmops.com/
Description: Swarmops Common
 Swarmops is a swarm activist administration system.
 This package is an internal development build.

