Package: swarmops-frontend
Version: --BuildNumber--
Architecture: all
Maintainer: Rick Falkvinge (swarmops-maintain@falkvinge.net)
Depends: apache2 (>= 2.2.20), mono-apache-server2 (>= 2.10-1), libapache2-mod-mono (>= 2.10-1)
Conflicts: swarmops-frontend-internal
Homepage: http://swarmops.com/
Description: Swarmops Frontend
 Swarmops is a swarm activist administration system.
 This package is the front-end. It runs on Mono.
 Target is Ubuntu 11.10 and up.
