#!/bin/bash

#echo "DEBUG: Executing post-installation script, swarmops-backend"

adduser --system --group --no-create-home --quiet swarmops
usermod -a -G syslog swarmops

mkdir -p /var/log/swarmops

#Upstart deprecated; support systemd only

systemctl enable swarmops-backend
systemctl start swarmops-backend

#echo "DEBUG: Exiting post-install script, swarmops-backend"

