#! /bin/bash

#echo "DEBUG: Executing pre-remove script, swarmops-backend"

# Support for Upstart deprecated; support systemd only

systemctl stop swarmops-backend
systemctl disable swarmops-backend

#echo "DEBUG: Exiting pre-remove script, swarmops-backend"
