<%@ Master Language="C#" AutoEventWireup="true" CodeFile="LeanModal-Master.master.cs" Inherits="Tests_LeanModal_Master" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <!-- jQuery and plugins -->
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
    <script language="javascript" type="text/javascript" src="/Scripts/jquery.leanModal.min.js" ></script>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:light,regular,500,bold' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Arimo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css' />
    <!-- page title -->
	<title>Activizr - Pirate Edition</title>
	<!-- telerik style sheet manager, followed by style sheet -->
	<telerik:RadStyleSheetManager id="RadStyleSheetManager" runat="server" />
    <link href="/Style/style-v5.css" rel="stylesheet" type="text/css" />
    <!-- additional scripts etc from individual pages -->
    <asp:ContentPlaceHolder id="PlaceHolderHead" runat="server" />
    <asp:Literal ID="LiteralCrowdinScript" runat="server" Text="" />

    <!-- initialize all modal popups -->
    <script language="javascript" type="text/javascript">
        $(function () {
            $("a[rel*=leanModal]").leanModal();
        });
    </script>
</head>
<body>
    <form id="form2" runat="server">
	<telerik:RadScriptManager ID="RadScriptManager1" runat="server" />
	<script type="text/javascript">
	    //Put your JavaScript code here.
    </script>
	<telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
	</telerik:RadAjaxManager>
 
	<telerik:RadSkinManager ID="RadSkinManager1" Runat="server" Skin="WebBlue">
	</telerik:RadSkinManager>
	
        <asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server" />
        <asp:ContentPlaceHolder ID="PlaceHolderSide" runat="server" />
	</form>
</body>
</html>

