/* SWARMOPS v5 - STYLE SHEET - no copyright, public domain (CC0) */


/* COLOR SCHEME

   #A2BEFF #476EC7 #1C397E #C8D9FF #E4ECFF    -- blue (hue 240)
   #FFBC37 #C78B15 #7F5500 #FFD580 #FFEDC8    -- orange (hue 60)
  
    base    dark    xdark   light   xlight
*/



/* CLEAR MARGINS AND MORE */

html, body, form, h1, h2, h3, h4, p, input, div, span, ol, ul, li
{
	margin: 0;
	padding: 0;
}

:focus {
	outline: none;  /* clear Chromium's outline */
}


/* BASE FONT */

html, body, input, select 
{
	font-family: Ubuntu, Liberation Sans, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}


/* WEIGHTS */

.weight-normal, .light {
    font-weight: 300;
}

.weight-emphasis {
    font-weight: 400;
}

.weight-more-emphasis, .medium {
    font-weight: 500;
}

.weight-most-emphasis, .bold, .strong {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}


/* BASE */

body
{
	background-color: #E4ECFF;
	background-image: url('/Style/Images/background-shader.png');
	background-repeat: repeat-x;
	height: 100%;
    background-position-y: 35px; /* move shading past top bar */
}

body.login-page {
    background-position-y: 0; /* login page doesn't have a top bar */
}

strong
{
	font-weight: 700;  /* bugfix for Chrome */
}

* 
{
    -webkit-font-smoothing: antialiased; /* also bugfix for Chrome */
}


/* CURSOR POINTER ON ALL A ELEMENTS, EVEN THOSE THAT JS-TRIGGER ACTION */

a 
{
    cursor: pointer;
}


/* RTL */
body.right-to-left {
    direction: rtl;
}


/* MAIN WRAPPERY */


.center980px
{
	width: 980px;
	margin: 0 auto;
}

.center640px
{
	width: 640px;
	margin: 0 auto;
}


div.break
{
	clear: both;
}


/* HEADER */

.logoimage
{
	float: left;
	height: 54px;
	width: 400px;
}

body.right-to-left .logoimage
{
	float: right;
}


/* CURRENT USER INFO */

div.currentuserinfo
{
	float:right;
	margin-top:5px;
	margin-right:5px;
	background: #FFF;
	border: solid 2px #FFBC37;
	height:16px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 4px;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	border-top-left-radius: 2em 2em;
	border-top-right-radius: 2em 2em;
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;
	color: #888;
	
	-webkit-box-shadow: 0 1px 3px #7F5500, inset 0 1px 2px #7F5500;
	-moz-box-shadow: 0 1px 3px #7F5500, inset 0 1px 2px #7F5500;
	box-shadow: 0 1px 3px #7F5500, inset 0 1px 2px #7F5500;
	font-size:14px;
}

body.right-to-left div.currentuserinfo {
    float: left;
}


/* MAIN TOP MENU */

.topmenu
{
	height:38px;
	width: 100%;
	background-color: #476EC7;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5277CC', endColorstr='#3E66C2');  /* MSIE */
	background: -moz-linear-gradient(top, #5277CC, #3E66C2);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#5277CC), to(#3E66C2)); /* Chrome, Safari */

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	border-bottom: solid 1px #1C397E;
}


img 
{
    border: none;  /* override the blue-border-on-link behavior */
}


.top-search-box
{
	float:right;
	position:relative;
	top:4px;
	left:-5px;
}

body.right-to-left .top-search-box {
    float: left;
    left: 5px;
}

.top-search-box input
{
	width:150px;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 0.8em;
	background: #E4ECFF;
	height:24px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
	padding-left: 30px;
	background-image:url('/Images/Icons/iconshock-search-24px.png');
	background-repeat:no-repeat;
	font-family: Ubuntu, Liberation Sans, Arial, Helvetica, Sans-Serif;
    font-size: 18px;
}

body.right-to-left .top-search-box input {
    padding-left: inherit;
    padding-right: 30px;
    background-position-x: right;
}


body:not(.right-to-left) #MainMenuContainer {
    margin-left: -75px !important;
}

body.right-to-left #MainMenuContainer {
    margin-right: -75px !important;
}

#MainMenuContainer #LiSwarmopsLogo {
    padding-top: 2px;
    padding-bottom: 2px;
}

#LiSwarmopsLogo > a {
    padding: 0 !important; /* overrides superfish padding of ".sfmenu a" class */
}

body:not(.right-to-left) #MainMenuContainer #LiSwarmopsLogo {
    margin-right: 20px;
}

body.right-to-left #MainMenuContainer #LiSwarmopsLogo {
    margin-left: 20px;
}

#DivSwarmopsLogo {
    width: 60px;
    height: 34px;
    background-image: url('/Images/swarmops-logo-head-dual-16x9.png');
    background-size: 60px 68px;
}

#DivSwarmopsLogo:hover, .sfHover #DivSwarmopsLogo {
    background-position-y: 34px;
}

li#LiSwarmopsLogo a.sf-with-ul {
    padding: 0px !important;  /* override superfish superpadding */
}

#ctl00_MainMenu {
	font: 14px/20px Ubuntu !important;
	background-color: transparent;
	border:none;
	z-index: 8000;
	position: relative;
	left: 0px;
	top: 7px;
	font-weight: normal;
}

body.right-to-left #ctl00_MainMenu {
	left: inherit;
    right: 0px;
}

body.right-to-left span.buildId {
    direction: ltr; /* parentheses freak out unless specified LTR */
}

div#DivMasterUserIcon {
    height: 28px;
    width: 28px;
    background-size: 28px;
    background-position-y: 0;
}

div#DivMasterUserIcon:hover {
    background-position-y: 28px;
}

div#DivMasterFlag {
    margin-top: 6px;
    padding-top: 4px;
    background-image: url('/Images/Flags/flag-highlight-128px.png');
    background-size:0
}

div#DivMasterFlag:hover {
    background-size: 28px;
}

/* CONDITIONAL ELEMENTS */
/* these are shown in doc.ready() as appropriate */

.ifVatEnabled {
    display: none;
}

/* DASHBOARD THINGS */

.odometer {
    font-size: 20px;
    font-weight: 500;
    direction: ltr; /* even in Arabic, numbers are always left-to-right */
}

.odometer-wrapper {
    height: 32px;
}

.odometer-label {
    font-size: 16px;
    padding-top: 6px;
    font-weight: 400;
    padding-left: 4px;
}

body.right-to-left .odometer-label {
    padding-left: 0;
    padding-right: 4px;
}


/* BARS AND BOXEN */

.mainbar
{
	float: left;
	width: 700px;
}

body.right-to-left .mainbar {
    float: right;
}

.sidebar
{
	float: right;
	width: 240px;
	margin-left: 20px;
}

body.right-to-left .sidebar {
    float: left;
    margin-left: inherit;
    margin-right: 20px;
}

.box
{
	width: 100%;
	clear: both;

    margin-top: 20px;
	
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	
	border: solid 1px #A2BEFF;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.box.qrlogin {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.content
{
	margin: 5px 10px 5px 10px;
}


.marginless
{
	margin: -5px -8px -5px -10px;	
}


.contentright
{
	float:right;
	border-left: solid 1px #C78B15;
	margin-left:9px;
	width:150px;
	padding-left:10px;
}


.contentleft
{
	float:left;
	width:500px;
}

.content h2, .tab h2
{
	font-family: Ubuntu, Arial, Sans-Serif;
	color: #FFBC37;
	font-size:160%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	border-bottom: solid 1px #C78B15;
	padding-bottom: 3px;
	padding-top:3px;
	margin-bottom: 7px;
}

.content > h2 > select, .tab > h2 > select, .content > h2 > span > span.combo > input.textbox-text, .tab > h2 > span > span.combo > input.textbox-text, .content > h2 > input, .tab > h2 > input, .content > h2 > span.float-far > input, .tab > h2 > span.float-far > input {
	font-size: 16px;
    font-weight: bold;
    color: #1C397E;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.content > h2 > span > span.combo, .tab > h2 > span > span.combo {
    height: 20px !important;
}

.content > h2 > span > span.combo > input.textbox-text, .tab > h2 > span > span.combo > input.textbox-text {
    height: 20px !important;
    line-height: 20px !important;
}


.data-entry-fields div.stacked-input-control {
    height: 40px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.data-entry-fields-admin div.stacked-input-control {
    height: 30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


.content h3
{
	font-family: Ubuntu, Arial, Sans-Serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 125%;
	color: #1C397E;
	padding-top: 3px;
	padding-bottom: 5px;
}

.content p
{
	padding-bottom: 15px;
}



.modalCover {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 9001;
	display: none;
	background-color: rgba(0, 0, 0, 0.25);
}

.modalWrap {
	position: absolute;
	width: 980px;
	left: 0;
	right: 0;
	top: 150px;
    margin: auto auto;
    background: transparent;
}

.modal 
{
	box-shadow: black 0px 0px 30px 2px;
	overflow-y: auto;
}

.modal.box {
    margin-top: inherit;
}

.modalIconClose {  /* copies the close button from Fancybox */
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: url("/Scripts/fancybox/fancybox.png") repeat scroll -40px 0px transparent;
    cursor: pointer;
    z-index: 9103;
}

body.right-to-left .modalIconClose, body.right-to-left #fancybox-close {
    right: initial !important;
    left: -15px !important;
}



.divIconCloseModal {
    float:right;
}


body.right-to-left .divIconCloseModal {
    float:left;
}


.float-near {
    float: left;
}

.float-far {
    float: right;
}

body.right-to-left .float-near {
    float: right;
}

body.right-to-left .float-far {
    float: left;
}



/* LOGINBOX */

body.login-page
{
	margin:0;
	padding:0;
}

div.login-page-logo {
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}


input.input-manual-credentials {
    border: solid 1px #A2BEFF;
    padding: 2px;
}


/* EXECUTE BUTTON */


.button-accent-color {
	display:block;
	float:right;
	margin:15px 3px 8px 3px;
	padding:5px;
	text-decoration: none;
	text-align: center;
	font: bold 18px Ubuntu, sans-serif;
	font-size: 18px !important;
	width:100px;
	outline-style:none;
	border-radius: 5px;    
	color: #7F5500;
	background: #EA8511;
	border: 1px solid #EA8511;
	box-shadow: 1px 1px 4px #7F5500;
	background: linear-gradient(#FFC145, #F0AB22);
	text-shadow: #FFEDC8 0px 0px 3px, #FFEDC8 0px 0px 3px;
	border-color: #C78B15;
	position: relative;
	top: -1px;
	left: -1px;
	cursor: pointer;
}

body.right-to-left .button-accent-color {
	float:left;
    left: inherit;
    right: -1px;
}

.button-accent-color:hover, .button-accent-color:active {
	text-shadow: #FFF4E4 0px 0px 5px, #FFF4E4 0px 0px 5px, #FFF4E4 0px 0px 5px;

}


.button-accent-color:hover, .button-accent-color:focus {
	top: -1px;
	left: -1px;
	box-shadow: 2px 2px 4px #7F5500;
	background: #FFC34D;
	background: linear-gradient(#FFD580, #FFC34D);
}

body.right-to-left .button-accent-color:hover, 
body.right-to-left .button-accent-color:focus {
    left: inherit;
    right: -2px;
}


.button-accent-color:active {
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 4px #7F5500;
}


.button-accent-color.button-red {
	background: #EA6311;
	border: 1px solid #EA6311;
	box-shadow: 1px 1px 4px #7F2800;
	background: linear-gradient(#FF9245, #F08E22);
	text-shadow: #FFEDC8 0px 0px 3px, #FFEDC8 0px 0px 3px;
	border-color: #C74815;
}

.button-accent-color.button-red:hover, .button-accent-color.button-red:focus {
	box-shadow: 2px 2px 4px #7F5500;
	background: #FF614D;
	background: linear-gradient(#FF7280, #FF614D);
}

.action-icon-button {
    height: 72px !important;
    width: 128px !important;
    font-size: 16px !important;
    padding-top: 48px;
}


.action-icon-button.icon-yes {
    background: url(/Images/Icons/iconshock-balloon-yes-128x96px.png) no-repeat, linear-gradient(#FFC144, #F0AB1F);
    background-position: top center;
    background-size: 80px auto, cover;
}

.action-icon-button.icon-yes:hover {
	box-shadow: 2px 2px 4px #7F5500;
	background: url(/Images/Icons/iconshock-balloon-yes-128x96px.png) no-repeat, linear-gradient(#FFD580, #FFC34D);
    background-position: top center;
    background-size: 80px auto, cover;
}





/* ENTRY FIELDS AND ACTION UX */



input[type="text"], input[type="password"], select {  /* this makes dropdowns and textboxen have the same width */
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

.data-entry-fields
{
	background: #A2BEFF;
	background: linear-gradient(#B0C8FF, #86A6F0);
	border-radius: 6px;
	line-height: 40px;
	float:right;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 24px;
	width: 330px;
	
	box-shadow: 0 1px 3px 1px #1C397E;
}

.data-entry-fields.modal.wide {
    width: 530px;
}


div.modal .data-entry-fields {
    margin-right: 3px;
    margin-bottom: 10px;
    margin-top: 0px !important;
}

body.right-to-left .data-entry-fields {
    float: left;
    padding-left: 8px;
    padding-right: 10px;
}

body.right-to-left div.modal .data-entry-fields {
    margin-right: inherit;
    margin-left: 3px;
}



.data-entry-fields input:not(.button-accent-color), .data-entry-fields textarea, .data-entry-fields select 
{
    /* "important" here overrides the easyUI native styling */

	border-radius: 10px !important;
	padding: 0px 10px 0px 10px !important;
	font-size: 24px !important;
	margin-bottom: 3px !important;
}


.data-entry-fields input:not(.button-accent-color), .data-entry-fields textarea
{
	width: 300px;
}

.data-entry-fields input:not(.button-accent-color), .data-entry-fields textarea
{
	width: 300px;
}

.data-entry-fields select {
	width: 330px;
	background: white;
}

.data-entry-fields.modal.wide input:not(.button-accent-color), .data-entry-fields.modal.wide textarea
{
	width: 500px;
}

.data-entry-fields.modal.wide select {
	width: 530px;
}

.data-entry-fields input:not(.NoInputFocus):not(.suppress-input-focus):focus, .data-entry-fields textarea:focus, .data-entry-fields select:focus 
{
	background: #F0F6FF;
	box-shadow: 0px 0px 4px 2px #1C397E inset;
}

.data-entry-fields > input[type=button]:not(.button-half-width):not(.action-icon-button) {
    width: 324px;
}


.data-entry-fields > input[type=button].button-half-width {
    width: 152px;
}

.data-entry-fields span.toggleLabel {
    position: relative;
    top: -3px;
}

.data-entry-fields .stacked-text, .data-entry-fields .stacked-input-control .stacked-text {
    position: relative;
    top: -6px;
}

.data-entry-fields-admin .stacked-text, .data-entry-fields-admin .stacked-input-control .stacked-text {
    position: relative;
    top: -1px;
}

body:not(.right-to-left) .data-entry-fields .small-margin-right {
    margin-right: 5px;
}

body.right-to-left .data-entry-fields .small-margin-right {
    margin-left: 5px;
}

.data-entry-labels 
{
	font-size: 18px;
	line-height: 40px;
	padding-top: 12px;
	padding-left: 15px;
	font-weight: 300;
	white-space: nowrap;
	overflow-x: hidden;
}

body.right-to-left .data-entry-labels {
    padding-left: inherit;
    padding-right: 15px;
}

.content .data-entry-labels h2 
{
	font-size: 130%;
	letter-spacing: 0px;
	padding-bottom: 0px;
	padding-top: 7px;
	margin-bottom: 0px;
	border: none;
	font-weight: 400;
	color: #476EC7;
	line-height: 33px;	
}

.align-for-numbers {
	text-align: right;
}


.entry-labels-admin
{
	margin-top: 10px;
	line-height: 30px;
	white-space: nowrap;
}


.data-entry-fields-admin
{
	background: #A2BEFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	line-height: 30px;
	float:right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
    margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	-webkit-box-shadow: 0 1px 3px 1px #1C397E;
	-moz-box-shadow: 0 1px 3px 1px #1C397E;
	box-shadow: 0 1px 3px 1px #1C397E;
}

body.right-to-left .data-entry-fields-admin {
    float: left;
    margin-right: inherit;
    margin-left: 20px;
}

.entryValidationAdmin
{
	margin-top:10px;
	margin-left:15px;
	line-height:30px;
	font-weight: bold;
	color: #C78B15;
	float: left;
}


input.data-entry-error, span.data-entry-error, div.data-entry-error {
    outline: red ridge 4px;   
}

.item-group-header {
    font-size: 125%;
    font-weight: 500;
}

.action-icon {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    border: 1px solid transparent;
    width: 26px;
    height: 20px;
    cursor: pointer;
}

.status-icon {
    border: 1px solid transparent;
    width: 26px;
    height: 20px;
}

.grid-header-status-icon {
    position: relative;
    top: 2px;
}

.group-status-icon {
    width: 32px;
    height: 24px;
}

.action-icon:hover {
    border: 1px solid #FFD580;
    background: #FFEDC8;
    filter: brightness(105%) contrast(105%);
    -webkit-filter: brightness(105%) contrast(105%);
    -moz-filter: brightness(105%) contrast(105%);
    -o-filter: brightness(105%) contrast(105%);
    -ms-filter: brightness(105%) contrast(105%);
    /*-webkit-transition: all 0.50s;
    transition: all 0.50s;*/
}

.action-list-item .action-skip-disabled {
    display: none !important;
}

.action-list-item-disabled .action-skip, .action-list-item-completed .action-skip {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    display: none;
}

.action-list-item-completed, .action-list-item-denied {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    color: #ccc;
    text-decoration: line-through;
}

.action-list-item-completed .status-icon, .action-list-item-disabled .status-icon {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    opacity: 0.5;
}

.action-list-item-disabled, .action-list-item-approved {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    color: #aaa !important;
}

.action-icon-disabled {
    display: none !important;
}

.datagrid-row-selected, .datagrid-row-over, .datagrid-row-checked {
    background:transparent !important;
}


/* DISPLAY FIELDS */

.displaylabel
{
	margin-top:5px;
	float: left;
	width: 150px;
	margin-bottom: 5px;
	color: #C78B15;
	text-shadow: rgba(127, 85, 0, .3) 0px 1px 2px;
}

.displaysubstance
{
	margin-top: 5px;
	float: left;
	width: 520px;
	padding-left: 10px;
	margin-bottom: 5px;
	color: #666;
}

.displayheader
{
	font-size: 1.4em;
	font-weight:bold;
}

.content ol
{
	margin-left: 20px;
}


/* INPUT FIELDS */


.textinput
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 3px #476EC7;
	-moz-box-shadow: 0 1px 3px #476EC7;
	box-shadow: 0 1px 3px #476EC7;
	
	width: 150px;
}

.comboinput
{
	width: 150px !important;
}




.button
{
	cursor: pointer;
}


input[type="radio"] {
    vertical-align: text-bottom;
    margin-left: 5px;
}

div.content > p > label {
    margin-left: 10px;
    font-size: 120%;
    font-weight: 500;
}


/* IN-PAGE HEADERS */

h1, h2, h3
{
	font-family: Permanent Marker, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h1
{
	font-size: 30px;
	color: #476EC7;
	letter-spacing: 2px;
	margin-top: 9px;
	text-shadow: #1C397E 0px -1px 0px, #1C397E 0px 1px 0px, #1C397E -1px 0px 0px, #1C397E 1px 0px 0px, #476EC7 1px 1px 3px, #476EC7 1px 1px 3px;
	margin-left: 48px;
}

div#page-icon-encaps
{
	height:40px;
	width:40px;
	/* background-image:url('/Style/Images/blue-ball-40px.png'); */
	float:left;
	position: relative;
	top: 12px;
}

.sidebar h2
{
	font-size: 16px;
	color: #FFF;
	padding: 2px 10px 2px 10px;
	margin-top:20px;
	margin-bottom: 5px;
	float: left;
	position: relative;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	border: solid 1px #A2BEFF;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

body.right-to-left .sidebar h2 {
    float: right;
}

.sidebar h2.blue
{
	background-color: #A2BEFF;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0C8FF', endColorstr='#86A6F0');  /* MSIE */
	background: -moz-linear-gradient(top, #B0C8FF, #86A6F0);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#B0C8FF), to(#86A6F0)); /* Chrome, Safari */
	text-shadow: #476EC7 0px 0px 3px, #476EC7 0px 0px 3px;
	
	border-color: #476EC7;
}

.sidebar h2.orange
{
	background-color: #FFBC37;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC145', endColorstr='#F0AB22');  /* MSIE */
	background: -moz-linear-gradient(top, #FFC145, #F0AB22);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC145), to(#F0AB22)); /* Chrome, Safari */
	text-shadow: #C78B15 0px 0px 3px, #C78B15 0px 0px 3px;
	
	border-color: #C78B15;
}


.sidebar h2.orangeDark
{
	background-color: #C78B15;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC9221', endColorstr='#BA800D');  /* MSIE */
	background: -moz-linear-gradient(top, #CC9221, #BA800D);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#CC9221), to(#BA800D)); /* Chrome, Safari */
	text-shadow: #7F5500 0px 0px 3px, #7F5500 0px 0px 3px;
	
	border-color: #7F5500;
}


/* COLOR SCHEME

   #A2BEFF #476EC7 #1C397E #C8D9FF #E4ECFF    -- blue (hue 240)
   #FFBC37 #C78B15 #7F5500 #FFD580 #FFEDC8    -- orange (hue 60)
  
    base    dark    xdark   light   xlight
*/


.sidebar h2 span.arrow
{
	border-style: solid;
	border-width: 7px 7px 0;
	bottom: -7px;
	left: 10px;
	position: absolute;
}

body.right-to-left .sidebar h2 span.arrow {
    left: inherit;
    right: 10px;
}

.sidebar h2.blue span.arrow
{
	border-color: #86A6F0 transparent transparent transparent;
}

.sidebar h2.orange span.arrow
{
	border-color: #F0AB22 transparent transparent transparent;
}

.sidebar h2.orangeDark span.arrow
{
	border-color: #BA800D transparent transparent transparent;
}


/* PROGRESS BARS*/

.ui-progressbar-value, .progressbar-value {
	background-image: url('/Images/Abstract/swarmops-progressbar-animation.gif');
	height: 13px !important;
	border-radius: 3px;
	box-shadow: 1px 0px 5px 0px #7F5500;
}


.ui-progressbar, .progressbar {
	height: 13px !important;
	width: 99.5% !important;
	border: solid 1px #C78B15;
	border-radius: 3px;
	box-shadow: inset 0px 1px 10px 0px #C78B15;
	margin-bottom: 8px;
	background-color: #EEE;
}

.progressbar-text {
	display: none;
}



/* TODO, MALFUNCTIONS LIST IN SIDEBAR */

div#divMalfunctionsList > ul {
    list-style: none;
}

div#divMalfunctionsList > ul > li {
    padding-top: 8px;
    background: url('/Images/Icons/iconshock-warning-24px.png') no-repeat 0px 3px;
    padding-left: 30px;
    padding-bottom: 5px;
    line-height: 140%;
    background-size: 24px 24px;
}

div#divMalfunctionsList > ul > li+li {
    border-top: 1px #476EC7 solid;
    margin-top: 5px;
}

/* TODO: RTL VERSION AND TODO VERSION */


/* IMAGE ZOOM */

.zoomContainer { z-index: 100000; }

/* OTHER ELEMENTS */

a
{
	color: #476EC7;
	text-decoration: none;
}

a:hover
{
	color: #FFBC37;
	text-decoration: underline;
	text-shadow: #FFD580 0px 0px 3px;
}

a:active
{
	color: #C78B15;
	text-decoration: underline;
	text-shadow: #FFBC37 0px 0px 3px, #FFBC37 0px 0px 3px;
}


.sidebar .link-row-icon
{
	float:left;
	background-position:left;
	padding-left:2px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}


.sidebar .link-row-encaps
{
	width:218px;
	border: solid 1px transparent;
	padding-top: 1px;
}

.sidebar .link-row-encaps a
{
	padding-left: 2px;
}

.sidebar .link-row-encaps:hover
{
	border-radius: 4px;
	-moz-border-radius:4px;
	border: solid 1px #FFBC37;
	background: #FFD580;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffd98c), to(#f0c265));
	background: -moz-linear-gradient(top,  #ffd98c,  #f0c265);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd98c', endColorstr='#f0c265');
	color: #7F5500;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px #C78B15;
	-moz-box-shadow: 0 1px 3px #C78B15;
	box-shadow: 0 1px 3px #C78B15;
}

.sidebar .link-row-encaps a:hover
{
	color: #C78B15;
	text-decoration: underline;
	text-shadow: #FFBC37 0px 0px 3px, #FFBC37 0px 0px 3px;
}



hr
{
	height: 1px;
	color: #CCC;
	background-color: #CCC;
	border-width: 0px;
}



.fakePlaceholderText ::webkit-input-placeholder {
    color: #000;
}
.fakePlaceholderText span input.combo-text:moz-placeholder {
    color: #000;
    opacity: 1;
}
.fakePlaceholderText span input.combo-text::moz-placeholder {
    color: #000;
    opacity: 1;
}
.fakePlaceholderText :ms-input-placeholder {
    color: #000;
}

.fakePlaceholderText span input.combo-text:focus::webkit-input-placeholder {
    color: #FFF;
}
.fakePlaceholderText span input.combo-text:focus:moz-placeholder {
    color: #FFF;
}
.fakePlaceholderText span input.combo-text:focus::moz-placeholder {
    color: #FFF;
}
.fakePlaceholderText span input.combo-text:focus:ms-input-placeholder {
    color: #FFF;
}




/* BUTTON ICONS */

#ctl00_PlaceHolderMain_ButtonAddMotion
{
	background-image: url('/Images/PageIcons/iconshock-motion-add-16px.png');
}

#ctl00_PlaceHolderMain_ButtonAddMotionAmendment
{
	background-image: url('/Images/PageIcons/iconshock-motion-amendment-add-16px.png');
}


input.ButtonSwarmopsUpload {
    width:36px !important; 
    background-image:url('/Images/Icons/iconshock-diskette-upload-32px.png') !important;
    background-repeat:no-repeat;
    background-position: top left;
    background-color: #ddd;
}

input.ButtonSwarmopsUpload:hover { 
    background-color: #f8f8f8;
}

input.ButtonSwarmopsUpload:active {
    background-position: 2px 2px;
}


.buttonUploadFile {
    height:36px;
    padding-top:4px;
    float: left;
}

body.right-to-left .buttonUploadFile {
    float: right;
}


.ImageFlag
{
	margin-top:3px;
	margin-right:3px;
}


/* JQUERY PLUGIN OVERRIDES */


nav.alertify-buttons {
    margin-top: 20px;
}


/* FANCYBOX */

.fancybox-arrow-previous,
.fancybox-arrow-next {
    position: absolute;
    width: 44px;
    height: 44px;
    background: #000;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    font-size: 36px;
    top: 50%;
    margin-top: -22px;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
}

.fancybox-arrow-previous:hover,
.fancybox-arrow-next:hover {
    text-decoration: none;
    background: #111;
    color: #FFF;
}

.fancybox-arrow-previous {
    left: -60px;
}

.fancybox-arrow-next {
    right: -60px;
}      
        
.zoomContainer {
    overflow: hidden;
}

.fancybox-caption
{
    text-align: center;
    font-weight: 500;
    font-family: Ubuntu;
    font-size: 24px !important;
}

/* VARIOUS ADDITIONS - SORT LATER */

span.spanGrayedOut {
    opacity: .5;
}


/* COLOR SCHEME

   #A2BEFF #476EC7 #1C397E #C8D9FF #E4ECFF    -- blue (hue 222)
   #FFBC37 #C78B15 #7F5500 #FFD580 #FFEDC8    -- orange (hue 40)
  
    base    dark    xdark   light   xlight

   S36L100 S64-L78 S78-L49 S22B100 S11L100    -- blue (hue 222)
   S78L100 S89-L78 S100L50 S50L100 S22L100    -- orange (hue 40)

*/

