/* COMBO BOX */

/* combo outer span, make transparent and remove border to display downarrow beside text field */

 span.textbox.combo {
    border: none;
    background: transparent;
}

/* combo inner, add input field attributes */

.textbox .textbox-text {
    border: 2px inset;
}

/* combo inner, add some distance to dropdown arrow */

select:not(.comboperson)+span.textbox.combo > .textbox-text {
    width: 278px !important;
}

span.combo > input.textbox-text, span.combo > input.textbox-prompt {
    padding-top: 0 !important; /* otherwise the default combo value is half-sunken out of the box */
}

.combo-arrow {
    position: relative;
    top: 7px;
    width: 18px !important;
    height: 19px !important;
    border-radius: 5px;
    background: #FFFFFF url('/Images/Abstract/easyui-elements-downarrow.gif') no-repeat 3px 4px;
}


select.comboperson+span.textbox.combo>input.textbox-text {
	width: 254px !important;
	padding-left: 34px !important;
	/* background: url('http://s.gravatar.com/avatar/15638826ee119289c902c4f85e77a2f0?s=24&r=g'); */
	background-repeat: no-repeat;
	background-color: white;
	background-position: 6px 2px;
}

body.rtl select.comboperson+span.textbox.combo>input.textbox-text {
    padding-left: inherit !important;
    padding-right: 34px !important;
	background-position: 268px 2px;
}


select.comboperson+span>input:focus
{
	background-image: none !important;
}

/* RTL fixes for combo */



.combo-panel
{
	font-size: 14px;
	margin: 0px 0px 0px 5px;
	padding-top: 8px;
	list-style-type: none;
	background: white;
	border-radius: 8px;
    border: none;
	box-shadow: 0px 1px 4px 1px #1C397E inset, 0 1px 4px 1px #1c397e;
	
	overflow:auto;
    overflow-x: hidden;
}

.combo-panel > .combobox-item {
    font-weight: lighter;
}

.combo-panel > .combobox-group {
    font-size: 14px;
    padding-left: 6px;
}

body.rtl .combo-panel > .combobox-group {
    padding-left: 3px;
    padding-right: 6px;
}

.combo-panel > .combobox-item-selected {
    font-weight: 400;
    border-top: 1px solid #c8d9ff;
    border-bottom: 1px solid #c8d9ff;
    background: #e4ecff;
}

.combo-panel > .treenode-item-selected {
    background: #e4ecff;
}

.combo-panel > ul.tree > li > div.tree-node:first-child {
    padding-left: 4px;
}

div.combobox-item {
	cursor: pointer;
}

div.combo-p.panel {
    overflow: visible;
}

.combo-arrow-hover{
	filter:alpha(opacity=70);
	opacity:0.7;
}


/* H2 COMBO */


.content h2 span span.combo {
    padding-left: 4px !important;
    padding-top: 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #dddddd inset;
    cursor: default;
}

.content h2 span span.combo:hover {
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 3px 0 #bbbbbb inset;
}

.content > h2 > span > span.combo > input.textbox-text {
    height: 20px !important;
    line-height: 20px !important;
    border: 0 !important;
}

.content h2 span span.combo span.textbox-addon-right a.combo-arrow{
    top: 0px !important;
    left: 0px !important;
}

body.rtl .content h2 span span.combo span.textbox-addon-left a.combo-arrow{
    top: 0px !important;
    right: 0px !important;
}



/* DATAGRID */

div.panel.datagrid > div.datagrid-wrap.panel-body {
    border: none;
}

.datagrid-row-selected {  /* don't show selection */
    background:transparent;
}

.datagrid-row-selected {  /* don't show selection */
    background:transparent;
}

.datagrid-row-over, .datagrid-row-selected:hover {
    background-color: #f0f4ff; /* copy from easyui - may want to customize later */
}

/* TREE */

.tree
{
}

.tree-node-hover, .tree-node-selected{
	background: #E4ECFF;
	box-shadow: 0px 0px 4px 1px #C8D9FF inset;
}


.tree-icon.tree-folder.countryNode {
    display: none;
}


tr.iconTypeHidden > td > div > span.tree-icon {
    visibility: hidden;
}

tr.iconTypeGroup > td > div > span.tree-icon {
    background: url('/Images/Icons/iconshock-group-diversified-64px.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

tr.iconTypePerson > td > div > span.tree-icon {
    background: url('/Images/Icons/iconshock-user-16px.png');
    background-repeat: no-repeat;
}


/* TABS */


.tabs-header {
    background: transparent;
    border: none;
    padding-top: 0;
}


.tabs {
    padding: 0;
    padding-top: 2px;
    border-color: #CCC;
}

.tabs-panels {
    border: none;
    padding-top: 5px;
}

.tabs li a.tabs-inner {
    width: 64px !important;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    border-radius: 5px;
    background: transparent;
    border-right: 1px solid #DDD;
    margin-right: 5px;
}

ul.tabs li.tabs-disabled {
    display: none !important; /* hide disabled tab completely instead of dimming it */
}

/*,
    border-radius: 10px;
    border: 2px inset;
}*/



/*

.combo{
	display:inline-block;
	white-space:nowrap;
	font-size:12px;
	margin:0;
	padding:0;
	background:transparent;
}
.combo-text{
	_font-size:12px;
	_border:0px;
	_line-height:20px;
	_height:20px;
	_padding:0px;
	_height:18px;
	_line-height:18px;
}
.combo-arrow{
	background:#FFFFFF url('/Images/Abstract/easyui-elements-downarrow.gif') no-repeat 3px 4px;
	width:18px;
	height:20px !important;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	position: relative;
	top: 8px;
	left: 3px;
	border-radius: 5px;
	cursor:pointer;
	opacity:0.4;
	filter:alpha(opacity=40);
}

body.rtl .combo-arrow {
    left: inherit;
    right: 3px;
}


.content h2 span span.combo {
    padding-left: 4px !important;
    padding-top: 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #dddddd inset;
    cursor: default;
}

.content h2 span span.combo:hover {
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 3px 0 #bbbbbb inset;
}

.content > h2 > span > span.combo > input.textbox-text {
    height: 20px !important;
    line-height: 20px !important;
    border: 0 !important;
}


.content h2 span span.combo span span.combo-arrow{
    top: 0px !important;
    left: 0px !important;
}

.combo-arrow-hover{
	opacity:0.7;
	filter:alpha(opacity=70);
}


.tree
{
}

.tree-node-hover, .tree-node-selected{
	background: #E4ECFF;
	box-shadow: 0px 0px 4px 1px #C8D9FF inset;
}


.tree-icon.tree-folder.countryNode {
    display: none;
}





*/