<?xml version="1.0" ?>
<!-- 
  The MachineKey is the key used to encrypt/decrypt the cookie containing
  authentication information. When you have multiple front-end web servers 
  serving a single Swarmops installation, this key must be identical on 
  all front-end machines - otherwise, authentication won't follow from 
  one server to the next.
  
  It is VITALLY important that you replace this key with your own key
  after installation. The default key is trivial to obtain by looking 
  at the sources of Swarmops, and if you have that, an attacker can 
  IMPERSONATE ANYBODY REMOTELY in a Swarmops installation that has not 
  replaced the default key.
  
  Use a resource like http://aspnetresources.com/tools/machineKey to 
  generate your unique key.
-->
<machineKey validationKey="E45A45B0A79E92527FE1484954DD433D64410A3EA264A9D67D7CFBB9E2FD0D43AB0107F45FE729B91D4DFB86C0295CC1B4612FE058112EBE300B66AA748D5539" decryptionKey="8436A6BE6B9811399C1FD5DD3C45459F38DAF8A9323BE03B2545A10DB5482673" validation="SHA1" decryption="AES" />