<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey configSource="machineKey.config" />
    <compilation debug="true" batch="false" targetFramework="4.5.2">
      <assemblies>
        <!-- <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /> -->
        <!-- <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> -->
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="40960" executionTimeout="180" targetFramework="4.5.2" />
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login" name=".SwarmopsAuth" path="/" protection="All" timeout="10080" slidingExpiration="true" defaultUrl="/" cookieless="UseDeviceProfile" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="Swarmops5" tagName="AjaxComboPeople" src="~/Controls/v5/Swarm/ComboPeople.ascx" />
        <add tagPrefix="Swarmops5" tagName="AjaxTextBox" src="~/Controls/v5/Base/AjaxTextBox.ascx" />
        <add tagPrefix="Swarmops5" tagName="AjaxDropDown" src="~/Controls/v5/Base/AjaxDropDown.ascx" />
        <add tagPrefix="Swarmops5" tagName="AjaxToggleSlider" src="~/Controls/v5/Base/AjaxToggleSlider.ascx" />
        <add tagPrefix="Swarmops5" tagName="ComboBudgets" src="~/Controls/v5/Financial/ComboBudgets.ascx" />
        <add tagPrefix="Swarmops5" tagName="ComboPeople" src="~/Controls/v5/Swarm/ComboPeople.ascx" />
        <add tagPrefix="Swarmops5" tagName="DropDown" src="~/Controls/v5/Base/DropDown.ascx" />
        <add tagPrefix="Swarmops5" tagName="ExternalScripts" src="~/Controls/v5/Meta/ExternalScripts.ascx" />
        <add tagPrefix="Swarmops5" tagName="FileUpload" src="~/Controls/v5/Base/FileUpload.ascx" />
        <add tagPrefix="Swarmops5" tagName="ImpersonationWarningBox" src="~/Controls/v5/Swarm/ImpersonationWarningBox.ascx" />
        <add tagPrefix="Swarmops5" tagName="IncludedScripts" src="~/Controls/v5/Meta/IncludedScripts.ascx" />
        <add tagPrefix="Swarmops5" tagName="ModalDialog" src="~/Controls/v5/Base/ModalDialog.ascx" />
        <add tagPrefix="Swarmops5" tagName="MainMenu" src="~/Controls/v5/Base/MainMenu.ascx" />
        <add tagPrefix="Swarmops5" tagName="TextCurrency" src="~/Controls/v5/Financial/CurrencyTextBox.ascx" />
        <add tagPrefix="Swarmops5" tagName="TreePositions" src="~/Controls/v5/Swarm/TreePositions.ascx" />
        <add tagPrefix="Swarmops5" tagName="ProgressBar" src="~/Controls/v5/Base/ProgressBar.ascx" />
        <add tagPrefix="Swarmops5" tagName="ProgressBarFake" src="~/Controls/v5/Base/ProgressBarFake.ascx" />
        <add tagPrefix="Swarmops5" tagName="DocumentDownloader" src="~/Controls/v5/Base/DocumentDownloader.ascx" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.data>
    <!--<DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral" />
    </DbProviderFactories>-->
  </system.data>
  <appSettings>
    <add key="aspnet:UseLegacyEncryption" value="false" />
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="false" />
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="false" />
    <add key="MonoServerDefaultIndexFiles" value="/" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImage_axd" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.9.0" newVersion="4.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
        <codeBase version="6.0.0.0" href="bin\Newtonsoft.Json.6.0.0.dll" />
        <codeBase version="9.0.0.0" href="bin\Newtonsoft.Json.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.3.0" newVersion="3.17.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.10.0" newVersion="1.2.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.34.0" newVersion="1.11.34.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>