<?xml version="1.0"?>
<!-- 
  The only override for the Pages/Public folder is that no authentication is required.
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
    <authorization>
      <allow users="*" /> 
    </authorization>
	</system.web>
</configuration>
