<?xml version="1.0"?>
<!-- 
  The only override for the Pages/Public, Style, Images, Automation, and Security folders is that no authentication is required.
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>
