<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433

  -->
<configuration>
  <system.web>
    <machineKey configSource="machineKey.config"/>
    <compilation debug="true" batch="false" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="40960" executionTimeout="180"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login.aspx" name=".ActzAuth" path="/" protection="All" timeout="600" defaultUrl="/" cookieless="UseDeviceProfile"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.2.0, Culture=neutral"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="aspnet:UseLegacyEncryption" value="true"/>
    <add key="aspnet:UseLegacyMachineKeyEncryption" value="true"/>
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="true"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>-->
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="41943040"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>