<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

  <project name="Swarmops">
    <workingDirectory>C:\Lab\Swarmops\build</workingDirectory>
    <artifactDirectory>C:\Lab\Swarmops\artifact</artifactDirectory>
    <webURL>http://build.swarmops.com/server/auxiliary/project/Swarmops/ViewLatestBuildReport.aspx</webURL>

    <sourcecontrol type="svn">
      <trunkUrl>svn://repo.swarmops.com/Swarmops/trunk</trunkUrl>
      <workingDirectory>C:\Lab\Swarmops\build</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <timeout>1800000</timeout>
    </sourcecontrol>

    <triggers>
      <intervalTrigger name="continuous" seconds="30" />
    </triggers>

    <labeller type="assemblyVersionLabeller">
      <major>5</major>
      <minor>0</minor>
      <incrementOnFailure>false</incrementOnFailure>
    </labeller>

    <tasks>
      <msbuild>
      <executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <workingDirectory>C:\Lab\Swarmops\build</workingDirectory>
        <projectFile>Swarmops.sln</projectFile>
        <buildArgs>/p:Configuration=Release</buildArgs>
        <targets>Build</targets>
        <timeout>1200</timeout>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\Rodemeyer.MsBuildToCCnet.dll</logger>
      </msbuild>

      <!-- deploy: only on success of all steps above -->

      <exec>
        <executable>cmd.exe</executable>
	<buildArgs>/c echo %CCNetLabel% > C:\Lab\Swarmops\build\Site5-Deployment\BuildIdentity.txt</buildArgs>
      </exec>

      <exec>
        <executable>cmd.exe</executable>
	<buildArgs>/c echo %CCNetLabel% > C:\Lab\Swarmops\build\Backend\bin\Release\BuildIdentity.txt</buildArgs>
      </exec>

      <buildpublisher>
        <sourceDir>C:\Lab\Swarmops\build\Site5-Deployment</sourceDir>
        <publishDir>\\swarmops-dev\builddrop\frontend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>

      <buildpublisher>
        <sourceDir>C:\Lab\Swarmops\build\Backend\bin\Release</sourceDir>
        <publishDir>\\swarmops-dev\builddrop\backend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>

      <!--<exec>
        <executable>cmd.exe</executable>
	<buildArgs>/c del /s /q \\swarmops-dev\builddrop\frontend</buildArgs>
      </exec>-->

      <!--<exec>
        <executable>robocopy.exe</executable>
	<buildArgs>C:\Lab\Swarmops\build\Site5-Deployment \\swarmops-dev\builddrop\frontend /MIR /COPY:DT</buildArgs>
      </exec>-->

      <!--<exec>
        <executable>robocopy.exe</executable>
	<buildArgs>C:\Lab\Swarmops\build\Backend\bin\Release \\swarmops-dev\builddrop\backend /MIR /COPY:DT</buildArgs>
      </exec>-->

      <!-- once build is deployed, flag packager to insert it into daily repo -->

      <exec>
        <executable>cmd.exe</executable>
	<buildArgs>/c echo %CCNetLabel% > \\swarmops-dev\builddrop\BuildDropped.txt</buildArgs>
      </exec>

      <!-- Analysis: QA that is not build-breaking: FxCop etc. -->
<!--
      <exec>
        <executable>C:\Program Files\Microsoft FxCop 1.36\FxCopCmd.exe</executable>
        <baseDirectory>C:\Lab\Swarmops\build</baseDirectory>
        <buildArgs>/p:"Swarmops.FxCop" /out:"FxCop-results.xml" /gac</buildArgs>
        <buildTimeoutSeconds>300</buildTimeoutSeconds>
      </exec>-->

    </tasks>

    <publishers>
      <merge>
        <files>
          <!-- <file>C:\Lab\Swarmops\build\msbuild-output.xml</file> -->
          <!-- <file>C:\Lab\Swarmops\build\FxCop-results.xml</file> -->
        </files>
      </merge>

      <xmllogger />

      <email mailport="25" includeDetails="TRUE">
        <from>builds@swarmops.com</from>
        <mailhost>192.168.80.204</mailhost>
        <users>
          <user name="Rick Falkvinge" group="buildmaster" address="swarmops-builds@falkvinge.net" />
          <!-- <user name="Jörgen Lindell" group="buildmaster" address="jorgen.lindell@gmail.com" /> -->
        </users>
        <groups>
          <group name="devs">
            <notifications>
              <notificationType>Failed</notificationType>
              <notificationType>Fixed</notificationType>
            </notifications>
          </group>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
        <subjectSettings>
          <subject buildResult="StillBroken" value="Build is STILL broken for Swarmops" />
        </subjectSettings>
        <xslFiles>
          <file>xsl\header.xsl</file>
          <file>xsl\msbuild2ccnet.xsl</file>
          <file>xsl\unittests.xsl</file>
          <file>xsl\fxcop-summary_1_36.xsl</file>
          <file>xsl\modifications.xsl</file>
          <file>xsl\fxcop-report_1_36.xsl</file>
        </xslFiles>
      </email>

    </publishers>

  </project>
  
</cruisecontrol>
