<cruisecontrol xmlns:cb="urn:ccnet.config.builder">


  <!-- ======== SWARMOPS INTERNAL RELEASE ======== -->


  <project name="Swarmops">
    <workingDirectory>/home/builder/swarmops/sources/continuous/repo</workingDirectory>
    <artifactDirectory>/home/builder/swarmops/sources/continuous/artifact</artifactDirectory>
    <webURL>http://build.swarmops.com/server/swarmops-build/project/Swarmops/ViewLatestBuildReport.aspx</webURL>

    <sourcecontrol type="git">
      <repository>git://github.com/Swarmops/Swarmops</repository>
      <branch>master</branch>
      <cleanUntrackedFiles>true</cleanUntrackedFiles>
      <autoGetSource>true</autoGetSource>
      <fetchSubmodules>true</fetchSubmodules>
      <executable>git</executable>
      <tagOnSuccess>false</tagOnSuccess>
      <commitBuildModifications>false</commitBuildModifications>
      <commitUntrackedFiles>false</commitUntrackedFiles>
      <tagCommitMessage>Build {0}</tagCommitMessage>
      <tagNameFormat>Build-{0}</tagNameFormat>
      <committerName>Swarmops Build</committerName>
      <committerEMail>builds@swarmops.com</committerEMail>
      <workingDirectory>/home/builder/swarmops/sources/continuous/repo</workingDirectory>
      <timeout>300000</timeout>
    </sourcecontrol>
 
    <triggers>
      <intervalTrigger name="continuous" seconds="60" />
    </triggers>

    <labeller type="sharedLabeller">
      <sharedLabelFilePath>/home/builder/swarmops/sources/build-number.txt</sharedLabelFilePath>
      <prefixFile>/home/builder/swarmops/sources/continuous/repo/VERSION</prefixFile>
      <prefixUrlFallback>https://raw.githubusercontent.com/Swarmops/Swarmops/master/VERSION</prefixUrlFallback>
      <incrementOnFailure>false</incrementOnFailure>
    </labeller>

    <tasks>

      <!-- Pre-build scripts (for localization Mono bug, etc) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c BuildFiles/Building/scripts/prebuild-fixes</buildArgs>
        <description>Prebuild fixes</description>
      </exec>

      <!-- Build solution -->

      <exec>
        <executable>xbuild</executable>
        <!--<baseDirectory>/home/builder/swarmops/sources/continuous/repo</baseDirectory>-->
        <buildArgs>/filelogger Swarmops.sln</buildArgs>
        <buildTimeoutSeconds>900</buildTimeoutSeconds>
        <successExitCodes>0</successExitCodes>
      </exec>

      <!-- Remove garbage "Bin" folder -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "rm -rf /home/builder/swarmops/sources/continuous/repo/Site5/Bin"</buildArgs>
        <description>Remove weird output folder that shouldn't be there</description>
      </exec>


      <!-- Deploy for packaging: only on success of build above -->

      <buildpublisher>
        <sourceDir>Site</sourceDir>
        <publishDir>/home/builder/swarmops/builds/internal/frontend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>

      <buildpublisher>
        <sourceDir>Backend/bin/Release</sourceDir>
        <publishDir>/home/builder/swarmops/builds/internal/backend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>


      <!-- Post-build script (note that it's run in the publication folder) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c /home/builder/swarmops/sources/continuous/repo/BuildFiles/Building/scripts/postbuild-fixes</buildArgs>
        <baseDirectory>/home/builder/swarmops/builds/internal</baseDirectory>
        <description>Postbuild fixes</description>
      </exec>


      <!-- Copy /etc/init.d files for backend (and frontend?) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/continuous/repo/Backend/etcinitd /home/builder/swarmops/builds/internal/backend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>

      <!-- Copy /lib/systemd files for backend (and frontend) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/continuous/repo/Backend/etcsystemd /home/builder/swarmops/builds/internal/backend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/continuous/repo/FrontendSocket/etcsystemd /home/builder/swarmops/builds/internal/frontend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>


      <!-- Fix Mono bug: copy all resource files to root resource folder -->

      <exec>
        <executable>bash</executable>
        <baseDirectory>/home/builder/swarmops/builds/internal/frontend/App_GlobalResources</baseDirectory>
        <buildArgs>-c "./deploy-mono-folderfix"</buildArgs>
        <description>Collect all resource files into root resource folder (mono bug)</description>
      </exec>


      <!-- Write metadata to deploy dirs, signal packager that new build available -->

      <exec>
        <executable>bash</executable>
	<buildArgs>-c "echo $CCNetLabel > /home/builder/swarmops/builds/internal/BuildIdentity.txt"</buildArgs>
      </exec>

      <exec>
        <executable>bash</executable>
	<buildArgs>-c "git rev-parse HEAD > /home/builder/swarmops/builds/internal/CommitIdentity.txt"</buildArgs>
      </exec>

      <exec>
        <executable>bash</executable>
        <buildArgs>-c 'git log -3 *-*-pretty="%h: %B" > /home/builder/swarmops/builds/internal/CommitMessages.txt'</buildArgs>
      </exec>


      <!-- Package and deploy -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "/home/builder/swarmops/packaging/scripts/repackage-build"</buildArgs>
      </exec>

      <!-- Analysis: QA that is not build-breaking: FxCop etc. -->

      <!--
      <exec>
        <executable>C:\Program Files\Microsoft FxCop 1.36\FxCopCmd.exe</executable>
        <baseDirectory>C:\Lab\Swarmops\build</baseDirectory>
        <buildArgs>/p:"Swarmops.FxCop" /out:"FxCop-results.xml" /gac</buildArgs>
        <buildTimeoutSeconds>300</buildTimeoutSeconds>
      </exec>-->

    </tasks>

    <publishers>

      <!-- Convert msbuild.log to XML for customized XSL -->

      <exec>
        <executable>mono</executable>
        <buildArgs>/usr/share/ccnet/bin/XBuildLog2Xml.exe</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
        <description>Log XML Conversion</description>
      </exec>

      <merge>
        <files>
          <!-- <file>/home/builder/swarmops/sources/continuous/repo/msbuild-output.xml</file> -->
          <file>/home/builder/swarmops/sources/continuous/repo/xbuild.xml</file>
          <!-- <file>C:\Lab\Swarmops\build\FxCop-results.xml</file> -->
        </files>
      </merge>

      <xmllogger />

      <email mailport="25" includeDetails="TRUE">
        <from>builds@swarmops.com</from>
        <mailhost>mail</mailhost>
        <users>
          <user name="Rick Falkvinge" group="buildmaster" address="swarmops-builds@falkvinge.net" />
          <!-- <user name="Leif Ershag" group="devs" address="leif@ershag.se" /> -->
          <!-- <user name="Tom Jeffries" group="devs" address="tom@safe-xchange.com" /> -->
          <!-- <user name="Jörgen Lindell" group="buildmaster" address="jorgen.lindell@gmail.com" /> -->
        </users>
        <groups>
          <group name="devs">
            <notifications>
              <notificationType>Failed</notificationType>
              <notificationType>Fixed</notificationType>
              <notificationType>Success</notificationType>
            </notifications>
          </group>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
        <subjectSettings>
          <subject buildResult="Success" value="Swarmops Build Successful: ${CCNetLabel}" />
          <subject buildResult="Fixed" value="Swarmops Build Fixed: ${CCNetLabel}" />
          <subject buildResult="Broken" value="Swarmops Build FAILED" />
          <subject buildResult="StillBroken" value="Build is STILL broken for Swarmops" />
        </subjectSettings>
        <xslFiles>
          <file>xsl/header.xsl</file>
          <file>xsl/swarmops-build.xsl</file>
          <file>xsl/unittests.xsl</file>
          <file>xsl/fxcop-summary_1_36.xsl</file>
          <file>xsl/modifications.xsl</file>
          <file>xsl/fxcop-report_1_36.xsl</file>
        </xslFiles>
      </email>

    </publishers>

  </project>


  <!-- ======== SWARMOPS SPRINT RELEASE ======== -->


  <project name="Swarmops-sprint">
    <workingDirectory>/home/builder/swarmops/sources/sprint/repo</workingDirectory>
    <artifactDirectory>/home/builder/swarmops/sources/sprint/artifact</artifactDirectory>
    <webURL>http://build.swarmops.com/server/swarmops-build/project/Swarmops-sprint/ViewLatestBuildReport.aspx</webURL>

    <sourcecontrol type="git">
      <repository>git://github.com/Swarmops/Swarmops</repository>
      <branch>sprint</branch>
      <cleanUntrackedFiles>true</cleanUntrackedFiles>
      <autoGetSource>true</autoGetSource>
      <fetchSubmodules>true</fetchSubmodules>
      <executable>git</executable>
      <tagOnSuccess>false</tagOnSuccess>
      <commitBuildModifications>false</commitBuildModifications>
      <commitUntrackedFiles>false</commitUntrackedFiles>
      <tagCommitMessage>Build {0}</tagCommitMessage>
      <tagNameFormat>Build-{0}</tagNameFormat>
      <committerName>Swarmops Build</committerName>
      <committerEMail>builds@swarmops.com</committerEMail>
      <workingDirectory>/home/builder/swarmops/sources/sprint/repo</workingDirectory>
      <timeout>300000</timeout>
    </sourcecontrol>
 
    <triggers>
      <intervalTrigger name="continuous" seconds="60" />
    </triggers>

    <labeller type="sharedLabeller">
      <sharedLabelFilePath>/home/builder/swarmops/sources/build-number.txt</sharedLabelFilePath>
      <prefixFile>/home/builder/swarmops/sources/continuous/repo/VERSION</prefixFile>
      <prefixUrlFallback>https://raw.githubusercontent.com/Swarmops/Swarmops/master/VERSION</prefixUrlFallback>
      <incrementOnFailure>false</incrementOnFailure>
    </labeller>

    <tasks>

      <!-- Pre-build scripts (for localization Mono bug, etc) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c BuildFiles/Building/scripts/prebuild-fixes</buildArgs>
        <description>Prebuild fixes</description>
      </exec>

      <!-- Build solution -->

      <exec>
        <executable>xbuild</executable>
        <!--<baseDirectory>/home/builder/swarmops/sources/sprint/repo</baseDirectory>-->
        <buildArgs>/filelogger Swarmops.sln</buildArgs>
        <buildTimeoutSeconds>900</buildTimeoutSeconds>
        <successExitCodes>0</successExitCodes>
      </exec>

      <!-- Remove garbage "Bin" folder -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "rm -rf /home/builder/swarmops/sources/sprint/repo/Site5/Bin"</buildArgs>
        <description>Remove weird output folder that shouldn't be there</description>
      </exec>


      <!-- Deploy for packaging: only on success of build above -->

      <buildpublisher>
        <sourceDir>Site</sourceDir>
        <publishDir>/home/builder/swarmops/builds/sprint/frontend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>

      <buildpublisher>
        <sourceDir>Backend/bin/Release</sourceDir>
        <publishDir>/home/builder/swarmops/builds/sprint/backend</publishDir>
        <useLabelSubDirectory>false</useLabelSubDirectory>
	<cleanPublishDirPriorToCopy>true</cleanPublishDirPriorToCopy>
        <alwaysPublish>false</alwaysPublish>
      </buildpublisher>


      <!-- Post-build script (note that it's run in the publication folder) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c /home/builder/swarmops/sources/sprint/repo/BuildFiles/Building/scripts/postbuild-fixes</buildArgs>
        <baseDirectory>/home/builder/swarmops/builds/sprint</baseDirectory>
        <description>Postbuild fixes</description>
      </exec>


      <!-- Copy /etc/init.d files for backend (and frontend?) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/sprint/repo/Backend/etcinitd /home/builder/swarmops/builds/sprint/backend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>


      <!-- Copy /lib/systemd files for backend (and frontend) -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/sprint/repo/Backend/etcsystemd /home/builder/swarmops/builds/sprint/backend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "mv /home/builder/swarmops/sources/sprint/repo/FrontendSocket/etcsystemd /home/builder/swarmops/builds/sprint/frontend"</buildArgs>
        <description>Copying /etc/init.d files for Backend Upstart</description>
      </exec>

      <!-- Fix Mono bug: copy all resource files to root resource folder -->

      <exec>
        <executable>bash</executable>
        <baseDirectory>/home/builder/swarmops/builds/sprint/frontend/App_GlobalResources</baseDirectory>
        <buildArgs>-c "./deploy-mono-folderfix"</buildArgs>
        <description>Collect all resource files into root resource folder (mono bug)</description>
      </exec>


      <!-- Write metadata to deploy dirs, signal packager that new build available -->

      <exec>
        <executable>bash</executable>
	<buildArgs>-c "echo $CCNetLabel > /home/builder/swarmops/builds/sprint/BuildIdentity.txt"</buildArgs>
      </exec>

      <exec>
        <executable>bash</executable>
	<buildArgs>-c "git rev-parse HEAD > /home/builder/swarmops/builds/sprint/CommitIdentity.txt"</buildArgs>
      </exec>

      <exec>
        <executable>bash</executable>
        <buildArgs>-c 'git log -3 *-*-pretty="%h: %B" > /home/builder/swarmops/builds/sprint/CommitMessages.txt'</buildArgs>
      </exec>


      <!-- Notify of available packaging -->

      <exec>
        <executable>bash</executable>
        <buildArgs>-c "/home/builder/swarmops/packaging/scripts/notify-sprint-ready"</buildArgs>
      </exec>

      <!-- Analysis: QA that is not build-breaking: FxCop etc. -->

      <!--
      <exec>
        <executable>C:\Program Files\Microsoft FxCop 1.36\FxCopCmd.exe</executable>
        <baseDirectory>C:\Lab\Swarmops\build</baseDirectory>
        <buildArgs>/p:"Swarmops.FxCop" /out:"FxCop-results.xml" /gac</buildArgs>
        <buildTimeoutSeconds>300</buildTimeoutSeconds>
      </exec>-->

    </tasks>

    <publishers>

      <!-- Convert msbuild.log to XML for customized XSL -->

      <exec>
        <executable>mono</executable>
        <buildArgs>/usr/share/ccnet/bin/XBuildLog2Xml.exe</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
        <description>Log XML Conversion</description>
      </exec>

      <merge>
        <files>
          <!-- <file>/home/builder/swarmops/sources/sprint/repo/msbuild-output.xml</file> -->
          <file>/home/builder/swarmops/sources/sprint/repo/xbuild.xml</file>
          <!-- <file>C:\Lab\Swarmops\build\FxCop-results.xml</file> -->
        </files>
      </merge>

      <xmllogger />

      <email mailport="25" includeDetails="TRUE">
        <from>builds@swarmops.com</from>
        <mailhost>mail</mailhost>
        <users>
          <user name="Rick Falkvinge" group="buildmaster" address="swarmops-builds@falkvinge.net" />
          <!-- <user name="Leif Ershag" group="devs" address="leif@ershag.se" /> -->
          <!-- <user name="Tom Jeffries" group="devs" address="tom@safe-xchange.com" /> -->
          <!-- <user name="Jörgen Lindell" group="buildmaster" address="jorgen.lindell@gmail.com" /> -->
        </users>
        <groups>
          <group name="devs">
            <notifications>
              <notificationType>Failed</notificationType>
              <notificationType>Fixed</notificationType>
              <notificationType>Success</notificationType>
            </notifications>
          </group>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <modifierNotificationTypes>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
        <subjectSettings>
          <subject buildResult="Success" value="Swarmops SPRINT Successful: ${CCNetLabel}" />
          <subject buildResult="Broken" value="Swarmops Sprint FAILED" />
          <subject buildResult="Fixed" value="Swarmops SPRINT Successful: ${CCNetLabel}" />
          <subject buildResult="Exception" value="Swarmops Sprint: Exception!" />
          <subject buildResult="StillBroken" value="Build is STILL broken for Swarmops Sprint" />
        </subjectSettings>
        <xslFiles>
          <file>xsl/header.xsl</file>
          <file>xsl/swarmops-build.xsl</file>
          <file>xsl/unittests.xsl</file>
          <file>xsl/fxcop-summary_1_36.xsl</file>
          <file>xsl/modifications.xsl</file>
          <file>xsl/fxcop-report_1_36.xsl</file>
        </xslFiles>
      </email>

    </publishers>

  </project>


</cruisecontrol>
