Package: swarmops-common-stable
Version: --BuildNumber--
Architecture: all
Maintainer: Rick Falkvinge (swarmops-maintain@falkvinge.net)
Conflicts: swarmops-common-internal,swarmops-common
Homepage: http://swarmops.com/
Description: Swarmops Common (Stable)
 Swarmops is a swarm activist administration system.
 This package contains the common components between
 front-end and back-end.
