/* ACTIVIZR v5 - STYLE SHEET - no copyright, public domain (CC0) */


/* COLOR SCHEME

   #A2BEFF #476EC7 #1C397E #C8D9FF #E4ECFF    -- blue (hue 240)
   #FFBC37 #C78B15 #7F5500 #FFD580 #FFEDC8    -- orange (hue 60)
  
    base    dark    xdark   light   xlight
*/



/* CLEAR MARGINS */

html, body, form, h1, h2, h3, h4, p, input, div, span, ol, ul, li
{
	margin: 0;
	padding: 0;
}


/* BASE FONT */

html, body, input, select 
{
	font-family: Ubuntu, Liberation Sans, Arial, Helvetica, Sans-Serif;
	font-size: 12px;
}


/* BASE */

html, body
{
	background-color: #E4ECFF;
	background-image: url('/Style/Images/background-shader.png');
	background-repeat: repeat-x;
	height: 100%;
}

strong
{
	font-weight: 700;  /* bugfix for Chrome */
}


/* MAIN WRAPPERY */


.center980px
{
	width: 980px;
	margin: 0 auto;
}

.center640px
{
	width: 640px;
	margin: 0 auto;
}


div.break
{
	clear: both;
}


/* HEADER */

.logoimage
{
	float: left;
	height: 54px;
	width: 400px;
}



/* CURRENT USER INFO */

div.currentuserinfo
{
	float:right;
	margin-top:5px;
	margin-right:5px;
	background: #FFF;
	border: solid 2px #FFBC37;
	height:16px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 4px;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	border-top-left-radius: 2em 2em;
	border-top-right-radius: 2em 2em;
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;
	color: #888;
	
	-webkit-box-shadow: 0 1px 3px #7F5500, inset 0 1px 2px #7F5500;
	-moz-box-shadow: 0 1px 3px #7F5500, inset 0 1px 2px #7F5500;
	font-size:14px;
}



/* MAIN TOP MENU */

.topmenu
{
	height:38px;
	width: 100%;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	background-color: #476EC7;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5277CC', endColorstr='#3E66C2');  /* MSIE */
	background: -moz-linear-gradient(top, #5277CC, #3E66C2);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#5277CC), to(#3E66C2)); /* Chrome, Safari */

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	border: solid 1px #1C397E;
	border-top-left-radius: 2em 2em;
	border-top-right-radius: 2em 2em;
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;
}



.searchbox
{
	float:right;
	position:relative;
	top:4px;
	left:-5px;
}

.searchbox input
{
	width:150px;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	background: #E4ECFF;
	height:24px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .4);
	padding-left: 26px;
	background-image:url('/Images/Icons/iconshock-search-24px.png');
	background-repeat:no-repeat;
	font-family: Ubuntu, Liberation Sans, Arial, Helvetica, Sans-Serif;
}


#ctl00_MainMenu {
	font: 14px/20px Ubuntu !important;
	background-color: transparent;
	border:none;
	z-index: 8000;
	position: relative;
	left: 20px;
	top: 7px;
	font-weight: normal;
}

.RadMenu_WebBlue .rmRootGroup
{
	border: none !important;
	background-image: none !important;
	text-shadow: 0px 1px 1px #666 !important;
}


.RadMenu_WebBlue a.rmLink, .RadMenu_WebBlue .rmText, .RadMenu_WebBlue .rmLeftArrow, .RadMenu_WebBlue .rmRightArrow, .RadMenu_WebBlue .rmTopArrow, .RadMenu_WebBlue .rmBottomArrow {
	background-image: url('/Style/Images/activizr-webblue-orange.png') !important;
	background-color: transparent;
}



.RadMenu_WebBlue .rmRootGroup, .RadMenu_WebBlue a.rmLink, .RadMenu_WebBlue .rmText, .RadMenu_WebBlue .rmLeftArrow, .RadMenu_WebBlue .rmRightArrow, .RadMenu_WebBlue .rmTopArrow, .RadMenu_WebBlue .rmBottomArrow {
	background-color: transparent !important;
	border: none;
	text-shadow: none;
	font-family: Ubuntu, Liberation Sans, Arial, Helvetica, Sans-Serif !important;
}


.RadMenu_WebBlue a.rmLink:hover,
.RadMenu_WebBlue a.rmFocused,
.RadMenu_WebBlue a.rmSelected,
.RadMenu_WebBlue a.rmExpanded,
.RadMenu_WebBlue a.rmExpanded:hover

{
	color: inherit !important;
}


.RadMenu_WebBlue, .RadMenu_WebBlue a.rmLink {
	font: 14px/23px Ubuntu !important;
	font-weight: inherit !important;
}


.RadTreeList_WebBlue .rtlHeader {
	background: #476EC7 0 -2300px repeat-x url(none) !important;
}


.RadTreeList_WebBlue .rtlA {
	background-color: #F5F7FF !important;
}

.RadTreeList_WebBlue .rtlTable {
	font: 12px/16px Ubuntu,sans-serif !important;
}


.RadTreeList .rtlHeader th {
	font-weight: 500 !important;
}

.RadTreeList {
	border-radius: 2px;
}

/* BARS AND BOXEN */

.mainbar
{
	float: left;
	width: 700px;
}

.sidebar
{
	float: right;
	width: 240px;
	margin-left: 20px;
}

.box
{
	width: 100%;
	clear: both;
	
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	
	border: solid 1px #A2BEFF;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.content
{
	margin: 5px 10px 5px 10px;
}


.marginless
{
	margin: -5px -8px -5px -10px;	
}


.contentright
{
	float:right;
	border-left: solid 1px #C78B15;
	margin-left:9px;
	width:150px;
	padding-left:10px;
}


.contentleft
{
	float:left;
	width:500px;
}

.content h2
{
	font-family: Ubuntu, Arial, Sans-Serif;
	color: #FFBC37;
	font-size:160%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	border-bottom: solid 1px #C78B15;
	padding-bottom: 3px;
	padding-top:3px;
	margin-bottom: 7px;
}

.content h3
{
	font-family: Ubuntu, Arial, Sans-Serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 125%;
	color: #1C397E;
	padding-top: 3px;
	padding-bottom: 5px;
}

.content p
{
	padding-bottom: 15px;
}


/* LOGINBOX */

body.loginpage
{
	background-image: none;
	background-color: #06173d;
	margin:0;
	padding:0;
}

div.loginbox
{
	-webkit-box-shadow: 0 1px 3px #1C397E;
	-moz-box-shadow: 0 1px 3px #1C397E;
	box-shadow: 0 1px 3px #1C397E;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	border: solid 1px #A2BEFF;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	
	margin-top: 0px;	
	background-color: #E4ECFF;
}

span.loginalphabetasign
{
	font-size: 24px;
	text-transform: none;
	font-family: Georgia, Times New Roman, Serif;
	font-weight: bold;
	font-style:italic;
	color: #C78B15;
	text-shadow: #7F5500 0px -1px 0px, #7F5500 0px 1px 0px, #7F5500 -1px 0px 0px, #7F5500 1px 0px 0px, #C78B15 1px 1px 3px, #C78B15 1px 1px 3px;
	position:relative;
	top:4px;
	left:-4px;
}


.loginbox .box
{
	margin-top: 12px;
	margin-bottom: 12px;
}

.loginbox h1
{
	margin-left: 80px;
	margin-top: 10px;
	font-size: 40px;
}

.loginbox #ButtonLogin
{
	background-image: url('/Security/Images/iconshock-foreign-key-16px-offset.png');
}

.loginbox #ButtonLogin:hover
{
	background-image: url('/Security/Images/iconshock-foreign-key-16px-hot-offset.png');
}

.buttonAccentColor {
	display:block;
	float:right;
	margin:15px 3px 8px 3px;
	padding:5px;
	text-decoration: none;
	text-align: center;
	font: bold 13px Ubuntu, sans-serif;
	font-size: 100% !important;
	width:100px;
	outline-style:none;
	border-radius: 5px;    
	color: #7F5500;
	background: #EA8511;
	border: 1px solid #EA8511;
	box-shadow: 1px 1px 4px #7F5500;
	background: -moz-linear-gradient(top, #FFC145, #F0AB22);
	background: -webkit-linear-gradient(top, #FFC145, #F0AB22);
	background: linear-gradient(top, #FFC145, #F0AB22);
	text-shadow: #FFEDC8 0px 0px 3px, #FFEDC8 0px 0px 3px;
	border-color: #C78B15;
	position: relative;
	top: -1px;
	left: -1px;
	cursor: pointer;
}

.buttonAccentColor:hover, .buttonAccentColor:active {
	text-shadow: #FFF4E4 0px 0px 5px, #FFF4E4 0px 0px 5px, #FFF4E4 0px 0px 5px;

}


.buttonAccentColor:hover {
	top: -2px;
	left: -2px;
	box-shadow: 2px 2px 4px #7F5500;
}


.buttonAccentColor:active {
	top: 0px;
	left: 0px;
	box-shadow: 0px 0px 4px #7F5500;
}


.button-orange
{
	-webkit-box-shadow: 0 1px 3px #C78B15;
	-moz-box-shadow: 0 1px 3px #C78B15;
	box-shadow: 0 1px 3px #C78B15;
	
	background-position: left;
	background-repeat: no-repeat;
	background-color: Transparent;
	
	font-weight: bold;
	text-shadow: #FFBC37 0px 1px 3px, #FFBC37 0px 1px 3px;
	
	padding: 2px 4px 2px 20px;
	border: solid 1px #C78B15;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.button-orange:hover
{
	text-shadow: #FFEDC8 0px 1px 3px, #FFBC37 0px 1px 3px;
}

.button-orange-encaps
{
	border-radius: 4px;
	-moz-border-radius:4px;
	background: #FFD580;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffd98c), to(#f0c265));
	background: -moz-linear-gradient(top,  #ffd98c,  #f0c265);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd98c', endColorstr='#f0c265');
}

.button-orange-encaps:hover {
	background: #FFBC37;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc145), to(#edaa26));
	background: -moz-linear-gradient(top,  #ffc145,  #edaa26);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc145', endColorstr='#edaa26');
}

.button-orange-encaps:active {
	background: #C78B15;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1941d), to(#b37909));
	background: -moz-linear-gradient(top,  #d1941d,  #b37909);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1941d', endColorstr='#b37909');
}

/* ENTRY FIELDS */

.entryFields
{
	background: #A2BEFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#B0C8FF), to(#86A6F0));
	background: -moz-gradient(linear, left top, left bottom, from(#B0C8FF), to(#86A6F0));
	border-radius: 6px;
	line-height: 30px;
	float:right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 140%;
	width: 50%;
	
	-webkit-box-shadow: 0 1px 3px 1px #1C397E;
	-moz-box-shadow: 0 1px 3px 1px #1C397E;
	box-shadow: 0 1px 3px 1px #1C397E;
}


.entryFields input, .entryFields textarea, .entryFields select 
{
	font-size: 140%;
	border-radius: 15px;
	padding: 0px 10px 0px 15px;
}

.entryFields input, .entryFields textarea 
{
	width: 300px;	
}

.entryFields input:focus, .entryFields textarea:focus, .entryFields select:focus 
{
	background: #F0F6FF;
	box-shadow: 0px 0px 4px 2px #1C397E inset;
}


.entryLabels 
{
	font-size: 140%;	
}


.entryLabelsAdmin
{
	margin-top: 10px;
	line-height: 30px;
	float: left;
	width: 100px;
}

.entryFieldsAdmin
{
	background: #A2BEFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	line-height: 30px;
	float:left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	
	-webkit-box-shadow: 0 1px 3px 1px #1C397E;
	-moz-box-shadow: 0 1px 3px 1px #1C397E;
	box-shadow: 0 1px 3px 1px #1C397E;
}

.entryValidationAdmin
{
	margin-top:10px;
	margin-left:15px;
	line-height:30px;
	font-weight: bold;
	color: #C78B15;
	float: left;
}


/* DISPLAY FIELDS */

.displaylabel
{
	margin-top:5px;
	float: left;
	width: 150px;
	margin-bottom: 5px;
	color: #C78B15;
	text-shadow: rgba(127, 85, 0, .3) 0px 1px 2px;
}

.displaysubstance
{
	margin-top: 5px;
	float: left;
	width: 520px;
	padding-left: 10px;
	margin-bottom: 5px;
	color: #666;
}

.displayheader
{
	font-size: 1.4em;
	font-weight:bold;
}

.content ol
{
	margin-left: 20px;
}


/* INPUT FIELDS */


.textinput
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1px 3px #476EC7;
	-moz-box-shadow: 0 1px 3px #476EC7;
	box-shadow: 0 1px 3px #476EC7;
	
	width: 150px;
}

.comboinput
{
	width: 150px !important;
}


.button
{
	cursor: pointer;
}


/* IN-PAGE HEADERS */

h1, h2, h3
{
	font-family: Permanent Marker, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

h1
{
	font-size: 30px;
	color: #476EC7;
	letter-spacing: 2px;
	margin-top: 9px;
	text-shadow: #1C397E 0px -1px 0px, #1C397E 0px 1px 0px, #1C397E -1px 0px 0px, #1C397E 1px 0px 0px, #476EC7 1px 1px 3px, #476EC7 1px 1px 3px;
	margin-left: 48px;
}

div#page-icon-encaps
{
	height:40px;
	width:40px;
	/* background-image:url('/Style/Images/blue-ball-40px.png'); */
	float:left;
	position: relative;
	top: 12px;
}

.sidebar h2
{
	font-size: 16px;
	color: #FFF;
	padding: 2px 10px 2px 10px;
	margin-top:20px;
	margin-bottom: 5px;
	float: left;
	position: relative;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	border: solid 1px #A2BEFF;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.sidebar h2.blue
{
	background-color: #A2BEFF;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0C8FF', endColorstr='#86A6F0');  /* MSIE */
	background: -moz-linear-gradient(top, #B0C8FF, #86A6F0);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#B0C8FF), to(#86A6F0)); /* Chrome, Safari */
	text-shadow: #476EC7 0px 0px 3px, #476EC7 0px 0px 3px;
	
	border-color: #476EC7;
}

.sidebar h2.orange
{
	background-color: #FFBC37;
	background: -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC145', endColorstr='#F0AB22');  /* MSIE */
	background: -moz-linear-gradient(top, #FFC145, #F0AB22);  /* Mozilla */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFC145), to(#F0AB22)); /* Chrome, Safari */
	text-shadow: #C78B15 0px 0px 3px, #C78B15 0px 0px 3px;
	
	border-color: #C78B15;
}

.sidebar h2 span.arrow
{
	border-style: solid;
	border-width: 7px 7px 0;
	bottom: -7px;
	left: 10px;
	position: absolute;
}

.sidebar h2.blue span.arrow
{
	border-color: #86A6F0 transparent transparent transparent;
}

.sidebar h2.orange span.arrow
{
	border-color: #F0AB22 transparent transparent transparent;
}


/* OTHER ELEMENTS */

a
{
	color: #476EC7;
	text-decoration: none;
}

a:hover
{
	color: #FFBC37;
	text-decoration: underline;
	text-shadow: #FFD580 0px 0px 3px;
}

a:active
{
	color: #C78B15;
	text-decoration: underline;
	text-shadow: #FFBC37 0px 0px 3px, #FFBC37 0px 0px 3px;
}


.sidebar .link-row-icon
{
	float:left;
	background-position:left;
	padding-left:2px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
}


.sidebar .link-row-encaps
{
	width:218px;
	border: solid 1px transparent;
	padding-top: 1px;
}

.sidebar .link-row-encaps a
{
	padding-left: 2px;
}

.sidebar .link-row-encaps:hover
{
	border-radius: 4px;
	-moz-border-radius:4px;
	border: solid 1px #FFBC37;
	background: #FFD580;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffd98c), to(#f0c265));
	background: -moz-linear-gradient(top,  #ffd98c,  #f0c265);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd98c', endColorstr='#f0c265');
	color: #7F5500;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 3px #C78B15;
	-moz-box-shadow: 0 1px 3px #C78B15;
	box-shadow: 0 1px 3px #C78B15;
}

.sidebar .link-row-encaps a:hover
{
	color: #C78B15;
	text-decoration: underline;
	text-shadow: #FFBC37 0px 0px 3px, #FFBC37 0px 0px 3px;
}



hr
{
	height: 1px;
	color: #CCC;
	background-color: #CCC;
	border-width: 0px;
}



/* BUTTON ICONS */

#ctl00_PlaceHolderMain_ButtonAddMotion
{
	background-image: url('/Images/PageIcons/iconshock-motion-add-16px.png');
}

#ctl00_PlaceHolderMain_ButtonAddMotionAmendment
{
	background-image: url('/Images/PageIcons/iconshock-motion-amendment-add-16px.png');
}



/* TELERIK STYLE OVERRIDES */

div.RadToolTip table.rtWrapper td.rtWrapperContent
{
	font-family: Ubuntu !important;
}




.ImageFlag
{
	margin-top:3px;
	margin-right:3px;
}


/* COLOR SCHEME

   #A2BEFF #476EC7 #1C397E #C8D9FF #E4ECFF    -- blue (hue 240)
   #FFBC37 #C78B15 #7F5500 #FFD580 #FFEDC8    -- orange (hue 60)
  
    base    dark    xdark   light   xlight
*/

